body {
   background-color: #eaeaea;
   font-family: 'Montserrat', sans-serif;
   /* font-family: 'Roboto', sans-serif; */
}

.header {}

.wrapper {
   padding-left: 15px;
   padding-right: 15px;
   max-width: 1170px;
   margin: 0 auto;
   position: relative;
}

.header__inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

nav {
   padding-top: 36px;
   padding-bottom: 40px;
}

.nav {
   display: flex;
   list-style-type: none;
   padding-left: 0;
   font-weight: 700;
   text-transform: uppercase;
   text-decoration: none;
   margin-bottom: 0;
}

.nav li {
   padding-left: 23px;
   margin-left: 22px;
   /* border-left: 2px solid #494949; */
   position: relative;
}

.nav li::before {
   position: absolute;
   content: '';
   display: block;
   width: 2px;
   height: 100%;
   background-color: #494949;
   left: 0;
}

.nav li:first-child::before {
   display: none;
}

.nav li:first-child {
   padding-left: 0px;
   margin-left: 0px;
}

/* .nav li:first-child {
   border-left: none;
} */

.nav a {
   text-decoration: none;
   color: #494949;
}

.banner {
   background-image: url(../img/banner.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   color: #fff;
   padding-top: 260px;
   padding-bottom: 285px;
}

.title {
   font-size: 50px;
   margin-bottom: 23px;
}

.description {
   font-size: 25px;
   line-height: 30px;
   max-width: 570px;
   font-family: 'Roboto', sans-serif;
   margin-bottom: 24px;
}

.btn {
   display: inline-block;
   color: #fff;
   text-decoration: none;
   font-size: 20px;
   text-transform: uppercase;
   font-weight: 700;
   border: 2px solid #fff;
   padding: 16px 32px;
}

.pizza {
   position: absolute;
   right: 0;
   top: -230px;
}

.page {}

.footer {}